BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
NamespaceIndentation: All
AccessModifierOffset: -4
PointerAlignment: Left
FixNamespaceComments: false
IndentCaseLabels: true
BreakTemplateDeclarations: Yes
AllowShortEnumsOnASingleLine: false
IndentPPDirectives: BeforeHash
BinPackParameters: OnePerLine
AllowAllParametersOfDeclarationOnNextLine: false
PenaltyReturnTypeOnItsOwnLine: 1000
AlignAfterOpenBracket: BlockIndent
AllowShortFunctionsOnASingleLine: Empty
